.calculator2{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 40px; */
    height: 120px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: dodgerblue;
}

.topic1{
    color:  rgb(0, 25, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline 3px  rgb(0, 25, 49);
    justify-items: left;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a{
    color:  rgb(0, 25, 49);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: white;
    transition: 0.2s ease-in-out;
}

nav ul{
    /* margin-right: 170px; */
    font-size: 13px;
}

.logo{
    color:  rgb(0, 25, 49);
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: right;
}


.content{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box{
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    width: 210px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}

.buttons{
    box-sizing: border-box;
    background-color: rgb(187, 221, 255);
    height: 40px;
    width: 40px;
    justify-content: center;
    margin: 5px;
    display: flex;
    align-items: center;
}

.buttons:hover{
    background-color: white;
}

.display{
    box-sizing: border-box;
    background-color: rgb(187, 221, 255);
    height: 60px;
    width: 190px;
    margin-bottom: 5px;
    border: none;
    outline: none;
}

input{
    border: 2px solid rgb(187, 221, 255);
    height: 100% ;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: rgb(0, 25, 49);
    direction: rtl;
    font-size: 40px;
    padding-right: 5px;
    padding-left: 5px;
}
